@mixin col-offset($offset){
  margin-left: $offset*1%;
}

@mixin col($per){
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $per*1%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 $per*1%;
  -ms-flex: 0 0 $per*1%;
  flex: 0 0 $per*1%;
  max-width: $per*1%;
}

@each $i in 5, 15, 30, 35, 40, 60, 65, 70, 100 {
  .col-#{$i} {
    @include col($i);
  }
}

@each $i in 5 {
  .col-offset-#{$i} {
    @include col-offset($i);
  }
}
